body {
    color: #f8f9fa;
    background-color: #343a40;
}

#szovegtartalom {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    background-color: #495057;
}

#szovegtartalom:hover {
    background-color: #6c757d;
}

select {
    border-radius: 10px;
    padding: 0.3rem 1rem 0.3rem 1rem ;
    color: #f8f9fa;
    background-color: #495057;
    margin: 1rem;
    /* width: 50%;
    box-sizing: border-box; */
}

select:hover {
    background-color: #6c757d;
    
}

@media screen and (max-width: 991px) {
    img {
        margin: 1rem;
    }

}
/* img {
        margin: 3rem;
    } */